{% extends "app/layout.html" %}
{% block title %}Tarifas Residenciales CFE{% endblock %}
{% block content %}
<h1>Ciudades</h1>
<div class="row form-group">
<form name="frmSimulator" id="frmSimulator" onsubmit="return validateForm()" action="{% url 'tarifas:tarifa1' %}" method="post" >
    {% csrf_token %}  
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <input type="submit" class="form-control btn-primary" value="Residencial" id="btnSend" />
        </div>
</form>
    <form name="frmSimulator" id="frmSimulator" onsubmit="return validateForm()" action="{% url 'tarifas:dac' %}" method="post" >
    {% csrf_token %}
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <input type="submit" class="form-control btn-primary" value="De Alto Consumo" id="btnSend" />
        </div>
   </form>
    </div>



<form name="frmSimulator" id="frmSimulator" onsubmit="return validateForm()" action="{% url 'tarifas:tarifa2' %}" method="post" >
    {% csrf_token %}
    <div class="row form-group">
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <input type="submit" class="form-control btn-primary" value="Comercial" id="btnSend" />
        </div>
    </div>
</form>
{% endblock %}