{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Resoluci&oacute;n del modelo de optimizaci&oacute;n de la 2ª subasta de largo plazo de energ&iacute;a el&eacute;ctrica en M&eacute;xico</h2>
    <p class="lead"></p>
    <p><a href="{% url 'solver' %}" class="btn btn-primary btn-large">Continuar &raquo;</a></p>
</div>

{% comment %}<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Blablablabla 2.0.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>{% endcomment %}

{% endblock %}
