{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Debe estar conectado para ver esta página</p>
    {% endif %}
{% endif %}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form method="post" action="{% url 'login' %}" class="form-horizontal">
                {% csrf_token %}
                <h4>Ingrese al sistema para proseguir al simulador</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-5 control-label">{{ form.username.label_tag }}</label>
                    <div class="col-md-7">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-5 control-label">{{ form.password.label_tag }}</label>
                    <div class="col-md-7">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Log in" class="btn btn-default" />
                        <a href="{% url 'password_reset' %}"><input type="submit" value="Recuperar contraseña" class="btn btn-default"/></a>
                        <a href="/slp2015/new_usr/"><input type="submit" value="Crear usuario" class="btn btn-default"/></a>
                    </div>
                </div>
                
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    </div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
