{% block title %}Primera Subasta de Largo Plazo SLP2015{% endblock %}
{% block sidebar %}

    <p>
        Subasta sin modificaciones
    <form name = 'entr' onsubmit="return validateForm()" action="resultados/" method="post" >
        {% csrf_token %}
    <div class="centrar"><input type="submit" value="Enviar" id="btn_s" /></div>
        </form>
    </p>
<p>
    Simulador
    <form name = 'entra' onsubmit="return validateForm()" action="simulador/" method="post" >
        {% csrf_token %}
        <div class="centrar"><input type="submit" value="Enviar" id="btn_s" /></div>
        </form>
    </p>
{% endblock %}