{% extends "app/layout.html" %}
{% block title %}Primera Subasta de Largo Plazo SLP2015{% endblock %}
{% load staticfiles %}
{% block content %}
<h1>Simulador</h1>

    {% csrf_token %}
    <div class="row form-group">
        <div class="col-md-2">
            <a href="{% url 'alta_cen' %}"><input type="submit" value="Alta de central" class="btn btn-default"/></a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'alta_paq1' %}"><input type="submit" value="Alta de Oferta" class="btn btn-default"/></a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'password_reset' %}"><input type="submit" value="Ofertas condicionadas" class="btn btn-default"/></a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'password_reset' %}"><input type="submit" value="Ofertas excluyentes" class="btn btn-default"/></a>
        </div>
    </div>
    {% if cent %}
         <h3>Centrales dadas de alta</h3>
         <table> 
         <tr>
             <td>   Número de Central   </td><td>    Nombre de la central </td><td> Capacidad de la Central en MW    </td>
         </tr>
            {% for i in cent %}
            <tr>
                 {% for j in i %}
                 <td>{{ j }}  </td>
             {% endfor %}
            </tr>
            {% endfor %}
         </table>
    {% else %}
        <h3>No hay Centrales dadas de alta</h3>
    {% endif %}
    {% if paq %}
        <h3>Ofertas de venta dadas de alta</h3>
        <tr>
             {% for i in paq %}
                 <td>{{ i }}  </td>
             {% endfor %}
         </tr>
    {% else %}
        <h3>No hay Ofertas de venta dadas de alta</h3>
    {% endif %}

{% endblock %}